---
layout: form
title: Registration
---
<div class="container">
  <div class="row">
    <section>
      <div class="page-header">
        <h1>2015 Courchevel International Music Festival Registration Form</h1>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <form id="defaultForm" method="post" action="#" class="form-horizontal">
          {% include name.html %}
          {% include age.html %}
          {% include guardian.html %}
          {% include phone.html %}
          {% include email.html %}
          {% include emergency.html %}
          {% include instrument.html %}
          {% include solo.html %}
          {% include orchestra.html %}
          {% include teacher1.html %}
          {% include teacher2.html %}
          {% include address.html %}
          {% include submit.html %}
        </form>
      </div>
    </section>
  </div>
</div>
